# Python Basics

### 1.variables

In [6]:
demo = 'dhanush' #declared a variable and assigned my name to it

In [7]:
print(demo)

dhanush

In [8]:
type(demo)

str

In [5]:
demo2 = 3.5 #floating point type variable
print(demo2)
type(demo2)

3.5

float

### 2.Datatypes

same as c/c++ (integer, string, float, bool) <br>
list variables, tuple, set and dictionary are extra

#### list

In [9]:
list_var = [1,2,3,4,5, 5, 5, 5]
list_var

[1, 2, 3, 4, 5]

In [16]:
list_var[4]= 10 #updating value of list
list_var

[1, 2, 3, 4, 10]

#### tuple [Immutable]
cannot change values in tuple

In [14]:
tuple_var = (1,2,3,4,5)
tuple_var

(1, 2, 3, 4, 5)

In [13]:
type(tuple_var)

tuple

#### set [values cannot be changed - Immutable]

In [21]:
set_var = {1, 2, 3, 4, 5, 2, 3}
set_var #duplicates are not stored

{1, 2, 3, 4, 5}

In [23]:
# typecasting the list variable to set and back to list inorder to get rid of duplicates
list(set(list_var))
list_var #tobe noted all dupicate elements are rmoved completely

[1, 2, 3, 4, 10]

#### dictionary

In [24]:
dict_var = {'name': 'dhanush', 'age': 18}
dict_var

{'name': 'dhanush', 'age': 18}

In [26]:
dict_var['name']

'dhanush'

In [27]:
dict_var['age']

18

## 3. Lists (CRUD)

In [32]:
#create
names = ['abc', 'def', 'ghi', 'dhanush']
names

['abc', 'def', 'ghi', 'dhanush']

In [35]:
#read
names[0] #indexing
names[-1] #last element in list
len(names) # length of list

4

In [39]:
#update
names[2] = 'elon musk'

#append
names.append('jeff bezos')

#insert
names.insert(1,'4554')
names

['abc',
 '4554',
 '4554',
 'elon musk',
 'elon musk',
 'dhanush',
 'jeff bezos',
 'jeff bezos',
 'jeff bezos']

In [40]:
#delete
del names[-1]
del names[-2]
del names[1]

In [41]:
names

['abc', '4554', 'elon musk', 'elon musk', 'dhanush', 'jeff bezos']

## 3. Dictionaries (CRUD)

In [31]:
#create

astronauts = {
    'name': 'elon musk',
    'suit_size': 'large',
    'allergy': 'humans'
}
astronauts

{'name': 'elon musk', 'suit_size': 'large', 'allergy': 'humans'}

In [12]:
#read
astronauts['name'] #get the element with key

list(astronauts.keys()) #get all keys

['name', 'suit_size', 'allergy']

In [23]:
#update
astronauts['name'] = 'jeff bezos' #changing value of key
astronauts

astronauts['companion'] = 'noobMaster69' #adding new key
astronauts

{'name': 'jeff bezos',
 'suit_size': 'large',
 'allergy': 'humans',
 'companion': 'noobMaster69'}

In [24]:
#delete

del astronauts['companion']
astronauts

{'name': 'jeff bezos', 'suit_size': 'large', 'allergy': 'humans'}

------------------------------------------------------------

## 4. Conditions, Loops and Logic

same as c and cpp <br>if,else, elif, for-loop, while-loop

In [27]:
name = 'dhanush'
if name == 'dhanush':
    print('true')
else:
    print('false')

true

In [28]:
name = 'dhanush'
if name == '4554':
    print('true')
else:
    print('false')

false

In [30]:
name = 'dhanush'
if name == '4554':
    print('true')
elif name == 'dhanush':
    print('true')
else:
    print('false')

true

### Loops

In [42]:
names = ['abc', 'def', 'ghi', 'dhanush']
for name in names:
    print(name)
    if name == 'ghi' :
        print('true')
        break #dhanush will not be printed
print('end of for loop')

abc
def
ghi
true
end of for loop

*note: break, continue and pass statements

In [51]:
#while loop
cnt = 1
ref = 5
while True:
    print('my_name {}'.format(cnt))
    if cnt == ref:
        print('end')
        break
    cnt+=1

my_name 1
my_name 2
my_name 3
my_name 4
my_name 5
end

------------------------------------------------------------