# PANDAS

In [1]:
import pandas as pd

In [3]:
data = pd.Series([0.25,0.50,0.75,1.00],index=['a','b','c','d'])

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
data['a']

0.25

In [8]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [9]:
grads_dict = {'A':4,'B':3.5,'C':3,'D':2}
grads = pd.Series(grads_dict)

In [10]:
grads.values

array([4. , 3.5, 3. , 2. ])

In [11]:
grads.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
marks_dict =  {'A':85,'B':75,'C':65,'D':55}
marks = pd.Series(marks_dict)

In [13]:
marks

A    85
B    75
C    65
D    55
dtype: int64

In [14]:
marks['A']

85

In [15]:
marks[0:2]

A    85
B    75
dtype: int64

In [17]:
rs = pd.DataFrame({'grades':grads,'marks':marks})

In [18]:
rs

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.0     55

In [19]:
rs.T

           A     B     C     D
grades   4.0   3.5   3.0   2.0
marks   85.0  75.0  65.0  55.0

In [20]:
rs.values

array([[ 4. , 85. ],
       [ 3.5, 75. ],
       [ 3. , 65. ],
       [ 2. , 55. ]])

In [21]:
rs.values[2,0]

3.0

In [22]:
rs

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.0     55

In [23]:
rs['percentage'] = 100 * rs['marks']/90

In [24]:
rs

   grades  marks  percentage
A     4.0     85   94.444444
B     3.5     75   83.333333
C     3.0     65   72.222222
D     2.0     55   61.111111

In [25]:
del rs['percentage']

In [26]:
rs

   grades  marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.0     55

# CSV FILES

In [30]:
from sklearn.impute import SimpleImputer

In [33]:
df = pd.read_csv('C:/Users/Admin/Python/covid_19_data.csv')

In [36]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [39]:
df.drop(['SNo'],axis=1,inplace=True)

In [40]:
df.head(10)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4247 entries, 0 to 4246
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  4247 non-null   object
 1   Province/State   2746 non-null   object
 2   Country/Region   4247 non-null   object
 3   Last Update      4247 non-null   object
 4   Confirmed        4247 non-null   float64
 5   Deaths           4247 non-null   float64
 6   Recovered        4247 non-null   float64
dtypes: float64(3), object(4)
memory usage: 232.4+ KB

In [47]:
df3 = df.groupby('Country/Region')[['Country/Region','Confirmed','Deaths','Recovered']].sum().reset_index()

ValueError: cannot insert Country/Region, already exists